body{
    margin: 10px;
    bottom: 0;
}
.container {
    margin: 10px;
    width: 40%;
    display: inline-block;
    }

button{
    width: 100%;
}

.container div{
    border:2px solid black;
    width: 100%;
    text-align: center;
}
